{% extends 'base.html' %}

{% block content %}

<div id="warbler-hero" class="full-width" style="background-image: url('{{ user.header_image_url }}');"></div>
<img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row full-width">
  <div class="container" style="max-width: 1300px;">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Messages</p>
            <h4>
              <a href="/users/{{ user.id }}">{{ user.messages | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Following</p>
            <h4>
              <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Followers</p>
            <h4>
              <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Likes</p>
            <h4>
              <a href="/users/{{user.id}}/likes">{{ user.liked_messages | length }}</a>
            </h4>
          </li>
          <div class="ms-auto">
            {% if g.user.id == user.id %}
              <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
              <form method="POST" action="/users/delete">
                {{ g.csrf_form.hidden_tag() }}
                <button class="btn btn-outline-danger ms-2">Delete Profile</button>
              </form>
            {% elif g.user %}
            {% if g.user.is_following(user) %}
            <form method="POST" action="/users/stop-following/{{ user.id }}">
              {{ g.csrf_form.hidden_tag() }}
              <button class="btn btn-primary">Unfollow</button>
            </form>
            {% else %}
            <form method="POST" action="/users/follow/{{ user.id }}">
              {{ g.csrf_form.hidden_tag() }}
              <button class="btn btn-outline-primary">Follow</button>
            </form>
            {% endif %}
            {% endif %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">@{{ user.username }}</h4>
    <p>{{ user.bio }}</p>
    <p class="user-location"><span class="fa fa-map-marker"></span> {{ user.location }}</p>
  </div>

  {% block user_details %}
  {% endblock %}

</div>

{% endblock %}
