{% extends 'users/detail.html' %}

{% block user_details %}
  <div class="col-sm-9">
    <div class="row">
        <ul class="list-group" id="messages">
          {% for msg in user.liked_messages %}
            <li class="list-group-item">
              <a href="/messages/{{ msg.id  }}" class="message-link"/>
              <a href="/users/{{ msg.user.id }}">
                <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
              </a>
              <div class="message-area">
                <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
                <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
                <p>{{ msg.text }}</p>
              </div>
              {% if user.id == g.user.id %}
              <form method="POST" action="/messages/{{ msg.id }}/like" class="messages-like">
                {{ g.csrf_form.hidden_tag() }}
                <button class="
                  btn
                  btn-sm
                  {{'btn-primary'}}"
                >
                  <i class="fa fa-thumbs-up"></i>
                </button>
              </form>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
