{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in user.messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>
          </div>
          {% if g.user.id != message.user_id %}
            <form method="POST" action="/messages/{{ message.id }}/like" class="messages-like">
              {{ g.csrf_form.hidden_tag() }}
              <button class="
                btn
                btn-sm
                {{'btn-primary' if message in g.user.liked_messages else 'btn-secondary'}}"
              >
                <i class="fa fa-thumbs-up"></i>
              </button>
            </form>
          {% endif %}
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}